@import "tailwindcss";
@plugin "daisyui";

/* Animated text scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

.animate-scroll-left {
  animation: scroll-left 40s linear infinite;
}

.no-scroll {
  overflow: hidden;
}
